body{
    font-family: Lobster;
    font-size: 24px;
    text-align: center;
    color: white;
}
body{
    background-image: url("images/jellykid.gif");
    background-repeat: repeat;
}
#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1{
    font-family: Lobster;
    font-size: 2.0em;
    text-align: center;
    text-shadow: silver;
    color: white;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
}
tr{
    border: 1px solid #ffffff;
    text-align: center;
    background-color: silver;
}
th{
    text-align: center;
    color: #ffffff;
    background-color: navy;
}
#hobbies{
    margin-left: auto;
    margin-right: auto;
}
#songs{
    margin-left: auto;
    margin-right: auto;
}