body{
    font-family: Lobster;
    font-size: 24px;
    text-align: center;
    color: maroon;
}
h1{
    font-family: Lobster;
    font-size: 2.0em;
    text-align: center;
    text-shadow: silver;
    color: maroon;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
}
tr{
    border: 1px solid #ffffff;
    text-align: center;
    background-color: silver;
}
th{
    text-align: center;
    color: #ffffff;
    background-color: navy;
}
ul{
    margin-left: auto;
    margin-right: auto;
}
ol{
    margin-left: auto;
    margin-right: auto;
}