body{
    font-family: Lobster;
    font-size: 24px;
    color: maroon;
    text-align: center;
    background-image: url("jellykid.gif");
}
h1{
    font-family: Lobster;
    font-size: 38px;
    text-shadow: silver;
    text-align: center;
    color: maroon;
}