body{
    font-family: Lobster;
    font-size: 24px;
    color: maroon;
    text-align: center;
}
body{
    background-image: url("images/jellykid.gif");
    background-repeat: repeat;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    font-size-adjust: 2.0em;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1{
    font-family: Lobster;
    font-size: 38px;
    text-shadow: silver;
    text-align: center;
    color: maroon;
}